/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 970px;
  box-sizing: border-box;
  margin: 0, auto;
  padding: 0;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.col1-6 {
  width: 30/100;
}

img {
  width: 100%;
}

/* /RESET */

/* START WORK */

header {
  background-image: url("../img/wall.png");
}

.container {
  background-image: url("../img/cork.png");
}

.card {
  margin: 16px;
}

#card-container {
  background-color: white;
  border: 5px solid white;
  position: relative;
  padding: 30px;
}

#point-attack {
  width: 30px;
  position: absolute;
  top: 0;
  left: 50%;
}

#img-card {
  width: 300px;
  height: 300px;
}

.info-card {
  margin-top: 8px;
}
