/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
}

.row {
  display: flex;
}

.col1-6 {
  width: 100% * 100 /60;
}

img {
  width: 100%;
}

/* /RESET */
